.container {
    margin-top: 50px;
}
/* Tùy chỉnh CSS */
@media (max-width: 576px) {
    .container {
        margin-top: 20px;
    }
}
.hidden {
    display: none;
}

#tong-gia-tri {
    display: inline; /* Đặt nội dung của span là inline */
}
